.advanced-new-tab-suggestion-description, .advanced-new-tab-suggestion-filepath, .advanced-new-tab-suggestion-tip{
    display: flex;
    align-items: center;
    justify-content: left;

    color: var(--text-faint);
}
.advanced-new-tab-suggestion-description, .advanced-new-tab-suggestion-tip{
    font-size: var(--font-ui-small)
}
.advanced-new-tab-suggestion-filepath{
    font-size: var(--font-ui-smaller);
    margin-left: var(--size-4-3);
}
.advanced-new-tab-suggestion-description svg, .advanced-new-tab-suggestion-filepath svg{
    margin-right: 5px;
}

.advanced-new-tab-suggestion-container{
    width: 50%;
    min-width: 250px;
    max-width: 700px;
    margin: 0 auto;

    background: var(--background-modifier-form-field);

    border: var(--input-border-width) solid var(--background-modifier-border);
    border-top-color: var(--background-secondary);
    border-radius: 0 0 var(--input-radius) var(--input-radius);
}

.advanced-new-tab-searchbar.embedded+.advanced-new-tab-suggestion-container, .advanced-new-tab-suggestion-container.is-phone{
    width: 90%;
}


.advanced-new-tab-suggestion-container .suggestion{
    flex: 1;
    overflow-x: hidden;
}

.advanced-new-tab-suggestion-title{
    display: flex;
    /* flex-wrap: wrap; */
    word-break: break-word;
}

.advanced-new-tab-suggestion-title.is-unresolved{
    opacity: 0.4;
}

.advanced-new-tab-suggestion-file-tag{
    min-width: fit-content;
}
.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected .advanced-new-tab-suggestion-title.is-unresolved{
    color: var(--text-on-accent);
    opacity: 0.6;
}

.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected{
    background-color: var(--interactive-accent);
}
.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected,
.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected .advanced-new-tab-suggestion-filepath,
.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected .advanced-new-tab-suggestion-description,
.advanced-new-tab-suggestion-container .suggestion.use-accent-color .is-selected .advanced-new-tab-suggestion-tip{
    color: var(--text-on-accent);
}

.advanced-new-tab-suggester-additional-info{
    border-top: 1px solid var(--background-secondary);
    font-size: var(--font-ui-smaller);
    color: var(--text-muted);
    padding: var(--size-4-2);
    text-align: center;
}

.advanced-new-tab-hotkey-suggestions{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.advanced-new-tab-container .advanced-new-tab-searchbar.is-active,
input.advanced-new-tab-searchbar.is-active{
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.advanced-new-tab-license{
    max-width: 700px;
    color: var(--text-muted);
}

.advanced-new-tab-license p{
    margin: 0 0 var(--size-4-2);
}

.advanced-new-tab-license a{
    display: inline-block;
    margin-bottom: var(--size-4-2);
}

.advanced-new-tab-license pre{
    max-height: 300px;
    margin-top: var(--size-4-2);
    white-space: pre-wrap;
}
